.home {
  position: relative;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: auto;
}
.home_left,
.home_right {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_left_logo {
  margin-bottom: 20px;
}

.mobile_logo {
  display: none;
  margin-bottom: 20px;
}

.home_right h2 {
  font-size: 1.5rem;
}

.input_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.input_control label {
  font-size: 0.85rem;
  font-weight: 700;
  color: #333333;
}
.input_control input {
  background: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  margin: 4px 0;
  width: 300px;
}
.input_control input:focus {
  outline: 3px solid #fff;
}
.input_control input.err {
  outline: 2px solid #d87355;
}
.input_control input::placeholder {
  color: #9f9a91;
  font-weight: 700;
}
.input_control input::-moz-placeholder {
  color: #9f9a91;
  font-weight: 700;
}
.input_control input::-webkit-input-placeholder {
  color: #9f9a91;
  font-weight: 700;
}
.input_control .err_text {
  color: #d87355;
  font-weight: 700;
  font-size: 0.85rem;
}
.login {
  margin: 1.5rem auto;
}
.signUp {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .home_left {
    display: none;
  }
  .mobile_logo {
    display: block;
  }
}
